unbound:
    server:
        interfaces:
            - 8.8.8.8
        domains_insecure:
            - domain.tld
    stubzones:
        domain.tld:
            stub-addr: 8.8.4.4
    lookup:
        config_file: /usr/local/etc/unbound/unbound.conf
