unbound:
    server:
        interfaces:
            - 8.8.8.8
        domains_insecure:
            - domain.tld
        local_zones:
            - domain.tld
        options:
            # an option is config settings which can't have multiple clauses
            <option_name>: <option_value>
    stubzones:
        domain.tld:
            stub-addr: 8.8.4.4
    forwardzones:
        domain2.tld:
            stub-addr: 8.8.4.4
    lookup:
        config_file: /usr/local/etc/unbound/unbound.conf
